<article  id="index-banner" class="container">
  <section  class="section no-pad-bot">
    <details class="container">
      <h2  class="header center offset-s2 page-title">Welcome, to my  
      <span  class="header-name" >Review Form</span></h2>
      <p class="floq">This area is meant for comments from users, clients about what they like or dislike with my website design.</p>
    </details>
  </section>
</article>


<article class="row">
  <form  class="col s12">
    <section class="row">
      <details class="input-field  col s6">
        <input  placeholder="Placeholder" id="first_name" 
          type="text"  class="validate"/>
          <label  for="first_name">First Name</label>
      </details>
    </section>
    <section class="row">
      <details class="input-field col s12">
        <input  id="email"  type="email" class="validate">
          <label for="email">Email</label>
      </details>
    </section>
    <section class="row">
      <details class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Any Comment is welcomed!
            </label>
      </details>
      <button>Submit</button>
    </section>
  </form>
</article>
{{#if comments.length}}
    {{#each comments as |comment|}}
        {{> comments }}
    {{/each}}

{{/if}}

<script src="/js/contact.js"></script>
