<h4>About Me</h4>
<p class="light flow-text">Thank you for checking out my portfolio page! I am still new to the developer scene, getting my feet wet. I have taken structured classes at the high school level (1998, 99) and college 200 level (2006) using C++ and Visual Studio. Those classes focused on common logic sets to iterate to a solution and little beyond console applications. Now 20 years later I am scratching the itch to learn more and become an active full stack developer! I am currently enrolled in a coding bootcamp. If you would like to learn more about me, on a 
    <a href="https://adam-niggebrugge.github.io/prework-about-me/"  target="blank" rel="noreferrer noopener" >personal level
    </a>, please click away.
</p>
    
