<h3>A sampling of Coding Projects</h3>
{{#if projects.length}}
    {{#each projects as |project|}}
        {{> projectCard }}
    {{/each}}
{{else}}
    <h2>No Projects Currently Found!!!</h2>
{{/if}}