/* color pallete options for consistency */
:root {
  --dark: #000000;
  --dark-transparancy: #00000054;
  --highlight:#7AE7C7;
  --mildlight: #D6FFB7;
  --attention-highlight: #FFF689;
  --bold: #EC0B43;
  --bold-transparancy: #ee75939d;
  --bold-contrast: #58355E;
  --bold-contrast-tranparancy: #8e6d94a2;
  --light: #ffffff;
  --neutral: #C9C9C9;
  --neutral-tranparancy: #c9c9c99a;
}


/* set content highlight color and background */
::selection {
  background-color: var(--attention-highlight);
  color: var(--bold-contrast);
}

nav > ul > li > a{
    color: var(--bold);
    margin-top: .5em;
}

/* General settings for the footer element display */
footer > *{
  background-color: var(--netural);
  text-align: center;
}

.page-title{
  color: var(--dark);
  background-image: linear-gradient(120deg, var(--neutral-tranparancy), var(--neutral), var(--dark-transparancy));
  border-radius: 8px;
  padding: .5em;
}

/* Apply a dark banner style, rounded edges */
.banner{
  background-image: linear-gradient(to right, var(--bold-transparancy), var(--bold) );
  box-shadow: inset 0px 0px 8px var(--netural), 0 0 15px var(--dark);
  color: var(--netural);
  border-radius: 12px;
  padding: .5em;
}

/*  Apply a contrasting banner color, style the same with rounded edges */
.banner-alt{
  background-image: linear-gradient(120deg, var(--bold-contrast-tranparancy), var(--bold-contrast) );
  color: var(--attention-highlight);
  border-radius: 15px;
  text-align: end;
  padding: .75em;
}

/* Unique banner for navigation bar */
.navbar{
  background-color: var(--bold); 
}

.profile-caption{
  color: var(--highlight);
}

/*Flip this on once scrolling occurs to keep nav bar at top*/
.sticky {
  position: fixed;
  top: 0;
  margin: 1.2em;
  z-index: 6;
  box-shadow: inset 0px 3px 8px var(--bold-contrast-tranparancy), 0 0 15px var(--bold-contrast);
}

.header-name{
  color: var(--bold);
  font-style: oblique;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--attention-highlight), 0 0 15px var(--attention-highlight);
}

.contact{
  text-align: center;
}

#mainBody{
  background-color: var(--neutral-tranparancy);
}

#personal{
  margin: 2em;
  background-color: var(--neutral);
  padding: 3em;
}

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: var(--highlight);
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: var(--light);
 }
   
.parallax-container .section {
     width: 100%;
}
 
 .icon-block {
   padding: 0 15px;
 }

 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 .transform{
  transform: translate3d(-50%, 239.686px, 0px); 
  opacity: 1;
 }

 .custom-sidenav{
   overflow: hidden;
   background-color: var(--neutral);
   counter-reset: var(--dark);
 }

 .cust-row{
   display: flex;
 }

 .cust-icon{
   padding-right: .25em;
   padding-top: .25em;
 }

.btn-cust{
  background-color: var(--highlight);
  border-radius: 20px;
}  

.btn-cust:hover{
  background-color: var(--mildlight);
  color: var(--bold-contrast);
  border-radius: 18px;
} 

.link-cust{
  color: var(--mildlight);
}

.swipe-cust{
  background-color: var(--bold);
}

.swipe-cust-alt{
  background-color: var(--bold-contrast);
}

.carousel-cust{
  height: 100%;
}

.live-website{
  padding-top: .75em;
  max-width: 4em;
  animation: blink 2s ease-in-out infinite;
}

.live-website-text{
  vertical-align: baseline; 
}

.custom-image{
  max-width: 1.66em;
  color: var(--attention-highlight);
}

.cust-up-margin{
  margin-top: -2em;
}

.cust-body-col{
  background-color: var(--bold-contrast-tranparancy);
}

/* .cust-sidenav li>a {
  width: 50%;
  font-size: x-small;
} */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

@keyframes blink {
  from, to {opacity: 1}
  66% {opacity: 0.66}
  33% {opacity: 0.33} 
}

 @media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

  .page-title{
    font-size: 2.75em;
  }

  .cust-row{
   display: block; 
  }

  .banner-alt{
    padding: .5em;
  }

 /* .banner{
    font-size: 1.8em;
    padding: .33em;
  } */

 .card .card-title,
 .card-title {
    font-size: 1.8em;
 } 

 .carousel-cust{
  height: 85%;
 }

 .live-website{
  padding-top: 1.1em;
  max-width: 3em;
 }

 .sticky {
  max-width: 10%;
  margin: .75em;
  border-radius: 25px;
  z-index: 6;
  overflow-x: hidden;
 }

 .cust-up-margin{
  margin-top: -.5em;
 }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .cust-row{
    display: block;
  }

  .page-title{
    font-size: 2em;
  }

  .banner-alt{
    padding: 0;
  } 
  
  .banner{
    font-size: 1.2em;
    padding: .25em;
  }

  .card .card-title,
  .card-title {
    font-size: 1.2em;
  } 

  .carousel-cust{
    height: 66%;
  }

  .live-website{
    padding-top: 1.5em;
    max-width: 2em;
  }

  .sticky {
    max-width: 15%;
    margin: .5em;
    border-radius: 30px;
    z-index: 6;
    overflow-x: hidden;
  }
}

