/* color pallete options for consistency */
:root {
  --dark: #000000;
  --dark-transparancy: #00000070;
  --highlight:#7AE7C7;
  --mildlight: #D6FFB7;
  --attention-highlight: #FFF689;
  --bold: #EC0B43;
  --bold-transparancy: #ee75939d;
  --bold-contrast: #58355E;
  --bold-contrast-tranparancy: #8e6d94a2;
  --light: #ffffff;
  --neutral: #C9C9C9;
  --neutral-tranparancy: #c9c9c99a;
}


/* set content highlight color and background */
::selection {
  background-color: var(--attention-highlight);
  color: var(--bold-contrast);
}

nav > ul > li > a{
    color: var(--bold);
    margin-top: .5em;
}

/* General settings for the footer element display */
footer > *{
  background-color: var(--netural);
  text-align: center;
}

.page-title{
  color: var(--dark);
  background-image: linear-gradient(120deg, var(--neutral-tranparancy), var(--neutral), var(--dark-transparancy));
  border-radius: 8px;
  padding: .5em;
}

/* Apply a dark banner style, rounded edges */
.banner{
  background-image: linear-gradient(to right, var(--bold-transparancy), var(--bold) );
  box-shadow: inset 0px 0px 8px var(--netural), 0 0 15px var(--dark);
  color: var(--netural);
  border-radius: 12px;
  padding: .5em;
}

/*  Apply a contrasting banner color, style the same with rounded edges */
.banner-alt{
  background-image: linear-gradient(120deg, var(--bold-contrast-tranparancy), var(--bold-contrast) );
  color: var(--attention-highlight);
  border-radius: 15px;
  text-align: end;
}

/* Unique banner for navigation bar */
.navbar{
  background-color: var(--bold); 
}

.profile-caption{
  color: var(--highlight);
}

/*Flip this on once scrolling occurs to keep nav bar at top*/
.sticky {
  position: fixed;
  top: 0;
  margin: 1.2em;
}

.header-name{
  color: var(--bold);
  font-style: oblique;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--attention-highlight), 0 0 15px var(--attention-highlight);
}

.contact{
  text-align: center;
}

#personal{
  margin: 2em;
  background-color: var(--neutral);
  padding: 3em;
}



/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: var(--highlight);
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: var(--light);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 .transform{
  transform: translate3d(-50%, 239.686px, 0px); 
  opacity: 1;
 }

 .custom-sidenav{
   background-color: var(--neutral);
   counter-reset: var(--dark);
 }

 .cust-row{
   display: flex;
 }

 .cust-icon{
   padding-right: .25em;
   padding-top: .25em;
 }

.btn-cust{
  background-color: var(--highlight);
  text-align: center;
}  


 @media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .cust-row{
   display: block; 
 }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .cust-row{
    display: block;
 }
}
