/* color pallete options for consistency */
:root {
  --dark: #0D0D0D;
  --highlight:#3EB595;
  --attention-highlight: #FFF447;
  --light: #f2f2f2;
  --neutral: #C9C9C9;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    .navbar{
      font-size: .8em;
    }
    /* Set each header to different font size */
    h1 {
      font-size: 1.5em;
    }

    h2 {
    font-size: .8rem;
    }

    h3 {
    font-size: .7rem;
    }
}
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    .navbar{
      font-size: 1em;
    }

    /* Set each header to different font size */
    h1 {
      font-size: 2em;
    }

    h2 {
    font-size: 1.1rem;
    }

    h3 {
    font-size: .9rem;
    }
}

html {
  /* sets 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
  background-color: var(--light);
}
/* Set each header to different font size */
h1 {
   font-size: 4.5em;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 3rem;
}

nav > ul > li > a{
    color: var(--highlight);
    font-size: 3.5em;
}

/* General settings for the footer element display */
footer > *{
  background-color: var(--netural);
  text-align: center;
}

.page-title{
  color: var(--dark);
}

/* Apply a dark banner style, rounded edges */
.banner{
  background-color: var(--dark); /* For browsers that do not support gradient*/
  background-image: linear-gradient(-120deg, var(--light),  var(--neutral), var(--dark) );
  color: var(--light);
}

/*  Apply a contrasting banner color, style the same with rounded edges */
.banner-alt{
  background-color: var(--neutral); /* For browsers that do not support gradient*/
  background-image: linear-gradient(120deg, var(--dark), var(--neutral) );
  color: var(--attention-highlight);
  border-radius: 15px;
  border: ridge  var(--highlight) 5px;
}

/* Unique banner for navigation bar */
.navbar{
  background-color: var(--dark); /* For browsers that do not support gradient*/
}

.profile-caption{
  color: var(--highlight);
}

/*Flip this on once scrolling occurs to keep nav bar at top*/
.sticky {
  position: fixed;
  top: 0;
  margin: 1.2em;
}

.header-name{
  color: var(--highlight);
  font-style: oblique;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--attention-highlight), 0 0 15px var(--attention-highlight);
}

.contact{
  text-align: center;
}

#personal{
  margin: 2em;
  background-color: var(--neutral);
  padding: 3em;
}


/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: var(--highlight);
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: var(--attention-highlight);
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 .transform{
  transform: translate3d(-50%, 239.686px, 0px); 
  opacity: 1;
 }